body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to bottom, #e8eeff, #000000);
    min-height: 100vh;
}

/* Header styling */
header {
    background: linear-gradient(to right, #e83b49, #140116);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

/* Introduction Text */
.intro-text {
    max-width: 800px;
    margin: 130px 50px;
    background: white;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 32px;
    text-align: justify;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    font-family: 'Times New Roman';
    line-height: 1.6;
}

/* Image Introduction */
.right-image-box {
    width: 500px;
    height: 450px;
    border: 2px solid transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
    margin-top: -584px;
}

.right-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Footer Styling */

footer {
    background: linear-gradient(to right, #140116, #e83b49);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    font-family: Arial;
    margin-top: 154px;
}

/* Portfolio List Section */
.portfolio-list {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
}

/* Each Portfolio Item */
.portfolio-item {
    display: block;
    background: #dd0861;
    margin: 15px 0;
    padding: 40px 50px;     /* Bigger button */
    border-radius: 8px;
    text-decoration: none;
    color: #2b2b2b;
    font-size: 22px;        /* Larger text */
    min-height: 60px;       /* Taller button */
    border-left: 5px solid #000000;
    transition: 0.25s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

iframe {
    max-width: 100%;
    height: 600px;
}

/* Layout Container */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 320px;
    background: linear-gradient(to bottom, #e83b49, #140116);
    padding: 30px 20px;
    color: white;
    font-family: Arial;
    box-sizing: border-box;
}

.sidebar h2 {
    margin-top: 50;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    padding-bottom: 40px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 10px;
    margin: 6px 0;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 22px;
    font-family: 'Trebuchet MS';
}

.sidebar a:hover {
    background: rgba(52, 212, 172, 0.795);
    transform: translateX(4px);
}

/* Main Content Area */
.content {
    flex: 1;
}
